\!Hydrology-2015/
hydrology*/
Hydrology*.hydr
results/

*.png
*.fig
*.txt

*.mat
*.hydr

*.asv
*.in
ImPrz
Params.mat
NEMO_2016_2D.mat
tlDat_dz_2.5_dr5_drProf5000.mat

*acmod_d2h2ng.m
*ampl_alpha.m
*bath_profiles_rendering.m
*DrawDomainGeneric.m
*RunModelPulse.m
*sig_test.m
*MGV_new.m
*ModalStructureAnalysis.m
*ModesAttCoeffs.m
*effective_VGM.m
*MPFindDsc.m
*odeo3.m
*old_MPFindDsc.m
